.new-content {
    padding-left: 50px;
    padding-bottom: 35px;

    position: absolute;
    top: 480px;
    left: 0px;
}

.new-content-text {
    margin-bottom: 8px;
    font-size: 28px;
    color : rgb(225, 225, 225)
}

.new-content-thumb {
    width: 1852px;

    margin-top: -50px;
    margin-left: -50px;

    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    overflow-x: auto;
}

.new-content-thumb::-webkit-scrollbar {
    display: none;
}

.new-content-thumb-box {
    display: grid;

    cursor: pointer;
    margin-right : 10px;
}

.new-content-thumb-img {
    width: 310px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    position: relative;
    bottom: -2px;
}

.new-content-thumb-info {
    width: 310px;

    z-index: 1;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: none;
}

.new-content-thumb-img:hover {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.new-content-thumb-img:hover + .new-content-thumb-info{
    display: block;
}

.new-content-thumb-box:hover {
    z-index: 2;
    transform: scale(1.3);
    transition: 0.1s linear;
}

.new-content-thumb-info:hover {
    display: block;
}

.hot-content {
    padding-left: 50px;
    padding-bottom: 35px;

    position: absolute;
    top: 740px;
    left: 0px;
}

.hot-content-text {
    margin-bottom: 8px;
    font-size: 28px;
    color : rgb(225, 225, 225)
}

.hot-content-thumb {
    width: 1852px;

    margin-top: -50px;
    margin-left: -50px;

    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    overflow-x: auto;
}

.hot-content-thumb::-webkit-scrollbar {
    display: none;
}

.hot-content-thumb-box {
    display: grid;

    cursor: pointer;
    margin-right : 10px;
}

.hot-content-thumb-img {
    width: 310px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    position: relative;
    bottom: -2px;
}

.hot-content-thumb-info {
    width: 310px;

    z-index: 1;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: none;
}

.hot-content-thumb-img:hover {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.hot-content-thumb-img:hover + .hot-content-thumb-info{
    display: block;
}

.hot-content-thumb-box:hover {
    z-index: 2;
    transform: scale(1.3);
    transition: 0.1s linear;
}

.hot-content-thumb-info:hover {
    display: block;
}