.new-content {
    padding-left: 50px;
    padding-bottom: 35px;

    position: relative;
    top: 400px;
    left: -48px;
}

.new-content-text {
    margin-bottom: 8px;
    font-size: 28px;
    color : rgb(225, 225, 225)
}

.new-content-thumb {
    width: 1854px;

    margin-top: -50px;
    margin-left: -50px;

    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;

    overflow-x: auto;
}

.new-content-thumb::-webkit-scrollbar {
    display: none;
}

.new-content-thumb-img {
    margin-left: 8px;

    border: none;
    border-radius: 5px;
    cursor:pointer;

    transition: all 0.2s linear;
}

.new-content-thumb-img:hover {
    transform: scale(1.4);
}

.hot-content {
    padding-left: 50px;
    padding-bottom: 35px;

    position: relative;
    top: 400px;
    left: -48px;

    overflow-x: auto;
}

.hot-content-text {
    margin-bottom: 8px;
    font-size: 28px;
    color : rgb(225, 225, 225)
}

.hot-content-thumb {
    width: 1854px;

    margin-top: -50px;
    margin-left: -50px;

    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;

    overflow-x: auto;
}

.hot-content-thumb::-webkit-scrollbar {
    display: none;
}

.hot-content-thumb-img {
    margin-left: 8px;

    border: none;
    border-radius: 5px;
    cursor:pointer;

    transition: all 0.2s linear;
}

.hot-content-thumb-img:hover {
    transform: scale(1.4);
}